.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-left: 5em;
    margin-right: 5em;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* .logo h3:hover {
    cursor: pointer;
} */

.hamburger {
    color: #505050;
    width: 35px;
    height: 35px;
}

.hamburger:hover {
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-top: 4em;
    /* margin-top: 3em;  for when theres half caf blog printed*/ 
    background-color: #fff6ef;
    width: 100%;
    z-index: 1000;
}

/* .links h3:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #fcdede;
} */

@media(max-width: 800px) {
    .main {
        margin-left: 0;
        margin-right: 0;
        padding: 25px;
    }
}