.primary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.icon {
    width: 25%;
    height: 25%;
    color: #F08E80;
}

.primary p {
    font-size: 1.5rem;
    margin-top: 3em;
    text-align: center;
}

.primary button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color: #F08E80;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    margin-top: 3em;
}

.primary button:hover {
    cursor: pointer;
    background-color: #f16d59;
}

.left {
    width: 20px;
    height: 20px;
}


@media(max-width: 700px) {
    .icon {
        width: 40%;
        height: 40%;
    }

    .primary p {
        margin-top: 0em;
    }
}

@media(max-width: 500px) {
    .icon {
        width: 50%;
        height: 50%;
    }
}

@media(max-width: 1100px) {
    .primary p {
        width: 85%;
    }
}