.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.contentContainer p {
    line-height: 1.8;
    font-size: 20px;
}

.contentContainer h2 {
    font-size: 30px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 2em;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}

.titleContainer h1 {
    font-size: 5rem;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.calender {
    width: 25px;
    height: 25px;
}

.introContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 3em;
}

.coffeeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.locationContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* padding: 1em 0px; */
}

.finalContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5em 0px;
}

@media(max-width: 800px) {
    .contentContainer {
        width: 85%;
    }
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #F08E80;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 97 / 60;
    margin-top: 2em;
    margin-bottom: 2em;
}

.imageWrapper img,
.imageWrapper span,
.blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.textBlock {
    margin-bottom: 1.25em;
}

.textBlock p {
    margin: 0;
}

@media(max-width: 640px) {
    .imageWrapper {
        aspect-ratio: 97 / 44;
    }
}

@media(max-width: 500px) {
    .titleContainer h1 {
        font-size: 3rem;
    }
}